:local(.main) {
  width: 100%;
  min-width: 725px;
  height: 100vh;
  overflow: auto;
  position: relative;
  :local(.menu-container) {
    height: 80px;
    border-bottom: 1px solid #d8d8d8;
    :local(.external-navigation) {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      text-decoration: none;
      height: inherit;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #9b9b9b;
      float: right;
      padding: 0 10px;
      &:local(:hover) {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
    :local(.external-navigation-avatar) {
      background: none;
      border: none;
      display: flex;
      align-items: center;
      text-decoration: none;
      height: inherit;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #9b9b9b;
      float: right;
      margin-top: 10px;
      &:local(:hover) {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
    :local(.external-navigation-divider) {
      background: none;
      border: 0.5px solid #d8d8d8;
      display: flex;
      align-items: center;
      text-decoration: none;
      height: inherit;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #9b9b9b;
      float: right;
      margin-right: 10px;
      &:local(:hover) {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}

:local(.container) {
  margin: 0 30px;
  position: relative;
}

:local(.avatar-control) {
  border: 0px;
}

:local(.fullscreen-logo) {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: inherit;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
  float: left;
  padding: 0 10px;
}
