@import '../../../styles/variables';

.b-device-details {
  padding: 0px 20px 0;
  padding-right: 0px;
  height: 80px;
  margin-bottom: 32px;

  &__tabs {
    width: 100%;
  }

  &__breadcrumb-wrapper {
    display: flex;
    &__present {
      margin-top: 19px;
      font-size: 14px;
      font-weight: normal;
      color: #9b9b9b;
    }
  }

  &-loader {
    text-align: center;
    margin: 0px 5px 10px;
  }

  .react-tabs__tab {
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    margin-top: 30px;
    border: none;
    border-bottom: 3px solid transparent;
    margin-right: 20px;
  }
  .react-tabs__tab--selected {
    color: #4a4a4a;
    border-color: #f68a4d;
  }

  .react-tabs__tab-list {
    border-bottom: 1px solid #f4f4f4;
  }

  &__info {
    display: flex;
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;

      &-device-image {
        height: 80px;
        width: 80px;
      }

      &-titleInner {
        font-size: 30px;
        font-weight: 500;
        color: #4a4a4a;
        margin-bottom: 0px;
      }

      &-description {
        font-size: 16px;
        font-weight: normal;
        color: #9b9b9b;
        margin: 0;
      }

      &-location {
        margin-top: 4px;
        display: flex;
        font-size: 12px;
        font-weight: normal;
        color: #9b9b9b;

        &-inner {
          display: flex;
          &-icon {
            margin-top: 2px;
          }
          &-text {
            margin-left: 2px;
          }
        }
      }
    }
  }
}
