@import '../../../../styles/variables';

.b-device-chart-detail {
  padding: 0px 20px 0;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .c-card__graph-card {
    border: none;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
    height: 420px;
  }

  .c-card__graph-card__info-title {
    font-family: Exo;
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
  }

  &__breadcrumb-wrapper {
    display: flex;
    &__prefix {
      margin-top: 19px;
      font-size: 14px;
      font-weight: normal;
      color: #9b9b9b;
    }
    &__postfix {
      margin-top: 19px;
      margin-left: 5px;
      font-size: 14px;
      font-weight: normal;
      color: #9b9b9b;
    }
  }

  &__charts {
    display: flex;
    flex-direction: column;
  }

  &-label {
    margin-top: 5px;
    font-family: Exo;
    font-size: 16px;
    font-weight: 600;
    color: #4a4a4a;
  }

  &__devices {
    &-card {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &-table {
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px 10px;
    border-radius: 6px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
    border: solid 1px #f7f4f4;
    background-color: #ffffff;

    .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }

    thead {
      text-transform: capitalize;
      tr {
        font-size: 14px;
        color: #9b9b9b;
        border-bottom: solid 1px #d8d8d8;
        th {
          width: 300px;
        }
      }
    }

    tbody {
      tr {
        border-bottom: solid 1px #f7f4f4;
      }
    }

    tbody + thead {
      display: none;
    }
  }
}
