.b-chart-detail-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 4px 2px -4px #9b9b9b;
  height: 55px;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 10px;

  &-title-container {
    display: flex;
    width: 120px;
    justify-content: space-between;
  }

  &-input-container {
    display: flex;
    width: 200px;
    justify-content: space-between;
    &__actions {
      margin-left: 10px;
      display: flex;
      width: 100px;
      justify-content: space-between;
    }
  }

  &-title {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 500;
  }

  &-chart-name-input {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 500;
  }

  &-actions {
    display: flex;
    width: 100px;
    color: #9b9b9b;
    justify-content: space-evenly;
  }
}
