@import '../../../../styles/variables';

.b-project-triggers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-loader {
    position: absolute;
    top: calc(50% - 8em);
    left: calc(40%);
  }

  &-details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &__devices {
      margin-top: 30px;
    }

    &__info {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &__title {
      font-family: Exo;
      font-size: 12px;
      font-weight: 500;
      color: #4a4a4a;
      text-transform: capitalize;
    }
    &__add-device {
      display: flex;
      color: $primary;
      &_icon {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
