:local(.title-container) {
  display: flex;
  align-items: center;
  :local(.title-details-title) {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    margin: 0;
    :local(span.title-number) {
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #9b9b9b;
    }
  }
}

:local(button.add) {
  margin-left: auto;
  height: 20px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f68a4d;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  :local(.icon) {
    height: 20px;
    width: 20px;
    background: url('../../Assets/plus-feynlab.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
}
