:local(.container) {
  position: absolute;
  border: 1px solid #00b900;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background: #00b900;
  color: white;
  font-weight: 600;
  min-height: 30px;
  z-index: 999;
  :local(.text-area) {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    :local(.close) {
      position: absolute;
      right: 10px;
      color: #ffffff;
      &:hover {
        cursor: pointer;
      }
    }
  }
}