:local(div.container) {
  width: 240px;
  height: 100vh;
  border-right: 1px solid #d8d8d8;
  :local(div.logo-header) {
    height: 80px;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
    :local(.logo) {
      width: 108px;
      height: 30px;
      object-fit: contain;
      position: absolute;
      top: 25px;
      left: 20px;
      bottom: 25px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  :local(div.header) {
    height: 54px;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 20px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
      cursor: pointer;
    }
    :local(.active) {
      color: #4a4a4a;
    }
  }

  :local(.nav-container) {
    border-bottom: 1px solid #f4f4f4;
    :local(.nav-list) {
      :local(.nav-item) {
        height: 44px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-left: 20px;
        display: flex;
        align-items: center;
        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
          cursor: pointer;
        }
      }
      :local(.no-icon) {
        padding-left: 50px;
      }
      :local(.active) {
        color: #4a4a4a;
      }
    }
  }
  :local(a) {
    text-decoration: none;
  }
}

:local(.icon) {
  height: 20px !important;
  width: 20px !important;
  margin-right: 10px;
  object-fit: contain;
}

:local(.narrow-button) {
  border-top: 1px solid #f4f4f4;
  width: 18%;
  position: fixed;
  bottom: 0px;
}
