:local(.container) {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  :local(span){
    position: absolute;
    background: url('GoogleLogo.svg') no-repeat center;
    z-index: 1;
    width: 26px;
    height: 26px;
    top: 12px;
    left: 12px;
  }
  :local(.vertical) {
    width: 1px;
    height: 50px;
    background-color: #d7d7d7;
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 1;
  }
  :local(button) {
    cursor: pointer;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 12px 0 rgba(193, 193, 193, 0.5);
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
    position: relative;
  }
}
