:local(.title) {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

:local(.description) {
  width: 600px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

:local(.dropdown) {
  width: 600px;
  margin-bottom: 20px;
}

:local(.note) {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a0a0a0;
}

:local(.submit) {
  float: right;
  height: 50px;
  min-width: 113px;
  border-radius: 6px;
  background-color: #f68a4d;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #ffffff;
  border: none;
  &:hover {
    cursor: pointer;
  }
}