.b-dashboard {
  &-layout {
    text-align: center;
  }
  &-change-layout {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-text {
      margin-right: 10px;
    }
  }
}

.react-grid-item.react-grid-placeholder {
  background-color: #9b9b9b;
}
