.b-dashboard {
  &-actions {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    .flex {
      .add-button + .add-button {
        margin-left: 10px;
      }
    }
  }

  &-layout {
    text-align: center;
  }
  &-change-layout {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-text {
      margin-right: 10px;
    }
  }
}

.react-grid-item.react-grid-placeholder {
  background-color: #9b9b9b;
}
