@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.f-select {
  &__error {
    top: $input-height;
    left: 0;
    font-size: $h6;
    color: $red;
    line-height: 1;
    padding-top: 3px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
