@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/media';

.b-header-user {
    ._app & {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-right: 20px;
    }

    &__info {
        font-family: Exo;
        font-size: 14px;
        font-weight: 500;
        color: #4a4a4a;
        overflow: hidden;

        &-wrapper {
            margin-right: 20px;
            position: relative;
        }
    }

    &__company {
        $size: 41px;

        width: $size;
        height: $size;
        flex: 0 0 $size;
        border-radius: 50%;
        border: 1px solid $primary;
        margin-right: 10px;

        &-button {
            cursor: pointer;
            padding: 14px 10px 15px 30px;
            width: 100%;

            &:disabled {
                cursor: not-allowed;
            }

            &._active {
                cursor: pointer;

                &:hover {
                    background-color: $ghost-white;
                }
            }
        }
    }

    &__arrows {
        margin-left: 10px;
    }

    &__button:not(:last-child) {
        margin-right: 20px;
    }

    &__logout {
        color: $primary;
        margin: 10px 0;
    }
}
