:local(.charts-container){
  margin-top: 28px;
}

:local(.graph-card) {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}
