:local(article) {
  margin-bottom: 20px;
  height: 50px !important;
  div {
    height: 50px !important;
    border: 1px solid #d8d8d8 !important;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    label {
      margin-bottom: 8px !important;
    }
    input {
      margin-bottom: 8px !important;
      color: #4a4a4a !important;
    }
  }
}