:local(.container) {
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}

:local(.logo) {
  width: 108px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  top: 25px;
  left: 20px;
  bottom: 25px;
}

:local(.signUp) {
  width: 70px;
  height: 80px;
  position: absolute;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:local(.signupText) {
  width: 49.5px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}

:local(.login) {
  width: 60px;
  height: 80px;
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

:local(.loginText) {
  width: 40px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}