.c-onboard {
  display: flex;
  padding: 55px;
  height: 80%;
  margin: 70px;
  margin-top: 30px;
  border-radius: 6px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #d8d8d8;
  background-color: #ffffff;

  &-content {
    padding-left: 30px;
    width: 66.6%;
  }

  &-divider {
    width: 0.1%;
    background-color: #c7c7c7;
  }

  &-steps {
    width: 33.3%;
  }

  &-step {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__circle {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      font-size: 12px;
      font-weight: 400;
      color: grey;
      line-height: 23px;
      text-align: center;
      border: 1px solid #d4d4d4;

      .active & {
        color: orange;
        border: 1px solid orange;
      }
      .finished & {
        border: 1px solid #2ecc71;
      }
    }

    &__title {
      margin-left: 15px;
      font-weight: 400;
      color: grey;

      .active & {
        color: orange;
      }
      .finished & {
        color: #c7c7c7;
        text-decoration: line-through;
      }
    }
  }
}
