.c-connection-details {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin-bottom: 10px;
    font-family: Exo;
    font-size: 18px;
    font-weight: 500;
    color: #4a4a4a;
  }

  &__device {
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__dropdown {
    width: 250px;
    margin-bottom: 20px;
  }

  &__code {
    margin-bottom: 20px;
    &-gist {
      &__bash {
        overflow: overlay;
        max-height: 400px;
      }
      &__title {
        display: none;
      }
      &__loading {
      }
    }
    &-copy {
      position: relative;
      &-icon {
        cursor: pointer;
        position: absolute;
        bottom: 25px;
        right: 10px;
        width: 23px;
        height: 18px;
      }
    }
  }
}
