@import '../../../styles/variables';
@import '../../../styles/mixins';

.f-add-device__form {
    @include shadow-small;
    background: $white;
    border-radius: $border-radius-normal;
    width: 585px;

    &-loader {
        margin: 0px 5px 10px;
    }

    &-title {
        color: #4a4a4a;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    &-action {
        margin-top: 10px;
        margin-bottom: 10px;
        float: right;
        width: 30%;
        border-radius: 10px;
        box-shadow: 0 8px 10px 0 rgba(246, 138, 77, 0.4);
        background-image: #f68a4d;
    }

    &-dropdown {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        padding-top: 16px !important;
        i {
            padding-top: 16px !important;
        }
    }

    &-input {
        padding-right: 160px;

        &-wrapper {
            margin-top: 15px;
            position: relative;
        }

        &-link {
            position: absolute;
            right: 15px;
            top: 14px;
        }
    }
}
