:local(.container) {
  padding-top: 50px;
  margin: 0 auto;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  :local(span.error) {
    width: 100%;
    margin-top: -10px;
    color: red;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  :local(.title) {
    height: 32px;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 30px;
  }
  :local(.password-login) {
    width: inherit;
    display: flex;
    position: relative;
    span.show {
      -webkit-mask:  url('../../presentational/FloatingLabelInput/ShowIcon.svg') no-repeat 50% 50%;
      mask: url('../../presentational/FloatingLabelInput/ShowIcon.svg') no-repeat 50% 50%;    position: absolute;
      background-color: #9b9b9b;
      top: 17px;
      right: 115px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  :local(.divider-group) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 30px 0;
    .divider {
      width: 280px;
      height: 1px;
      opacity: 0.3;
      border-radius: 0.5px;
      background-color: #9b9b9b;
    }
    .or {
      width: 15px;
      height: 18px;
      opacity: 0.3;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #9b9b9b;
      margin: 0 12px;
    }
  }
  :local(.forgot-password) {
    width: 103px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
    color: #9b9b9b;
    margin-top: 28px
  }
}
