@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/media';

.b-header {
    @include shadow-small;
    background-color: $white;
    padding: 10px 20px 10px 20px;
    position: relative;

    &__signup {
        width: 70px;
        height: 80px;
        position: absolute;
        right: 70px;
        justify-content: center;
        align-items: center;
        &-text {
            font-size: 14px;
            font-weight: 500;
        }
        &:hover {
            color: #9b9b9b;
        }
    }
    &__login {
        width: 60px;
        height: 80px;
        position: absolute;
        right: 10px;
        justify-content: center;
        align-items: center;
        &-text {
            font-size: 14px;
            font-weight: 500;
        }

        &:hover {
            color: #9b9b9b;
        }
    }

    &-user {
        display: flex;
        align-items: center;
        &__info {
            font-family: Exo;
            font-size: 14px;
            font-weight: 500;
            color: #4a4a4a;
            overflow: hidden;

            &-wrapper {
                margin-right: 20px;
                position: relative;
            }
        }

        &__container {
            $size: 41px;
            width: $size;
            height: $size;
            flex: 0 0 $size;
            border-radius: 50%;
            border: 1px solid $primary;
            margin-right: 10px;

            &-button {
                cursor: pointer;
                padding: 14px 10px 15px 30px;
                width: 100%;

                &:disabled {
                    cursor: not-allowed;
                }

                &._active {
                    cursor: pointer;

                    &:hover {
                        background-color: $ghost-white;
                    }
                }
            }
        }
    }

    &._login {
        padding: 20px;
        min-height: 80px;
    }
}
