@import '../../../styles/variables';

.b-project-activities {
  &-title {
    font-family: Exo;
    font-size: 12px;
    font-weight: 500;
    color: #4a4a4a;
    text-transform: capitalize;
  }

  &__timeline {
    margin-top: 10px;
    margin-bottom: 60px;
    &-container {
      font-size: 80%;
      position: relative;
      &-section {
        display: flex;
        margin-top: 10px;
        &__day {
          font-size: 12px;
          font-weight: 600;
          color: #4a4a4a;
        }
        &__date {
          margin-left: 5px;
          font-size: 12px;
          font-weight: 500;
          color: #9b9b9b;
        }
      }

      &__card {
        width: fit-content;
        margin-top: 10px;
        color: #4a4a4a;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
        border: solid 1px #d8d8d8;
        background-color: #ffffff;
        height: 80px;

        align-items: center;
        &-title {
          font-size: 14px;
          font-weight: bold;
          color: #4a4a4a;
        }
        &-time {
          font-size: 12px;
          font-weight: 500;
          color: #4a4a4a;
        }
      }
    }
  }
}

.app {
  &__copyright {
    display: none;
  }
}
