@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.f-checkbox {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 1px solid $light-grey;
  border-radius: $border-radius-small;
  background-color: #d8d8d8;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 14px;
  cursor: pointer;

  &__wrapper {
    @include input-margin-bottom;
  }

  &:checked {
    background-image: url('../../../../icons/checkboxCheck.svg');
    background-color: #4a4a4a;
  }

  &__label {
    cursor: pointer;
    min-width: 135px;

    &-text {
      vertical-align: top;
      font-family: Exo;

      font-weight: 500;
    }
  }
}
