@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/media';

.b-sidebar {
    width: 240px;
    height: 100vh;
    border-right: 1px solid #d8d8d8;

    &__root {
        position: relative !important;
        overflow-y: hidden !important;
    }

    &__sidebar {
        position: relative !important;
        overflow-y: hidden !important;
    }

    &__content {
        position: absolute !important;
        z-index: 10 !important;
        left: 25px !important;
        top: calc(83%) !important;
        &-icon-container {
            &-icon {
                cursor: pointer;
                width: 20px;
                height: 20px;
                transition: transform $transition-default;
                transform: rotate(180deg);

                &._open {
                    transform: translate(12em, 0);
                    background-color: white;
                }
            }
        }
    }

    &-header {
        height: 54px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 500;
        padding-left: 20px;
        display: flex;
        align-items: center;

        .active {
            color: #f68a4d;
        }

        &__image {
            height: 20px;
            width: 20px;
            object-fit: contain;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
            cursor: pointer;
        }
    }

    &-projects {
        &-list {
            &__item {
                &.active {
                    background-color: rgba(0, 0, 0, 0.03);
                }

                &.new-project {
                    color: #f68a4d;
                }
                height: 44px;
                color: #9b9b9b;
                font-size: 14px;
                font-weight: 500;
                padding-left: 20px;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    cursor: pointer;
                }
            }
        }

        &__image {
            height: 20px;
            width: 20px;
            margin-left: 10px;
            margin-right: 20px;
            object-fit: contain;
        }
    }
}
