.c-card {
    &__device {
        &-container {
            margin-top: 28px;
            width: 48%;
            height: 100px;
            margin-bottom: 2%;
        }

        &-container:nth-child(3n) {
            width: 100%;
        }

        &-card {
            display: flex;
            padding: 15px;
            border-radius: 6px;
            box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
            border: solid 1px #d8d8d8;
            background-color: #ffffff;
            height: 80px;
            max-width: 560px;
            align-items: center;

            &-info {
                margin-left: 10px;
                max-width: calc(100% - 140px);
                &-title {
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;
                }
                &-description {
                    font-size: 12px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #4a4a4a;
                    width: inherit;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &-location {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #9b9b9b;
                    display: flex;
                    align-items: center;
                }
            }

            &-status {
                margin-left: auto;
                display: flex;
                align-items: center;
                &-text {
                    font-size: 12px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #9b9b9b;
                }
                &-online-icon {
                    width: 14px;
                    height: 14px;
                    background-color: #50e3c2;
                    border-radius: 100%;
                    margin-left: 8px;
                }
                &-offline-icon {
                    width: 14px;
                    height: 14px;
                    background-color: red;
                    border-radius: 100%;
                    margin-left: 8px;
                }
            }
        }
    }
}
