@import '../../../styles/variables';
@import '../../../styles/mixins';

.c-card {
  &__device {
    &-container {
      margin-top: 28px;
      width: 50%;
      margin-bottom: 0.5%;
    }

    &-container:nth-child(3n) {
      width: 100%;
    }

    &-card {
      display: flex;
      padding: 15px;
      border-radius: 6px;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
      border: solid 1px #d8d8d8;
      background-color: #ffffff;
      height: 80px;
      max-width: 560px;
      align-items: center;

      &-info {
        margin-left: 10px;
        max-width: calc(100% - 140px);
        &-title {
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #4a4a4a;
        }
        &-description {
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #4a4a4a;
          width: inherit;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &-location {
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #9b9b9b;
          display: flex;
          align-items: center;
        }
      }

      &-status {
        margin-left: auto;
        display: flex;
        align-items: center;
        &-text {
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #9b9b9b;
        }
        &-online-icon {
          width: 14px;
          height: 14px;
          background-color: #50e3c2;
          border-radius: 100%;
          margin-left: 8px;
        }
        &-offline-icon {
          width: 14px;
          height: 14px;
          background-color: red;
          border-radius: 100%;
          margin-left: 8px;
        }
      }
    }
  }

  &__graph {
    &-container {
      margin-top: 28px;
      width: 50%;
      margin-bottom: 0.5%;
    }

    &-container:nth-child(3n) {
      width: 100%;
    }

    &-card {
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      padding: 15px;
      border-radius: 6px;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
      border: solid 1px #d8d8d8;
      background-color: #ffffff;

      max-width: 366px;
      height: 283px;

      &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &-title {
          font-size: 14px;
          font-weight: bold;
          color: #4a4a4a;
        }
        &-details-button {
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          color: $primary;
        }
      }

      &__graph {
        margin-top: 15px;
        text-align: center;
      }
    }
  }

  &__entity-card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 295px;
    border-radius: 6px;
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    &__header {
      display: flex;
      justify-content: space-between;

      .twitter-picker {
        position: absolute !important;
        top: 50px;
        left: 245px;
        z-index: 2;
        :nth-child(3) {
          span {
            :first-child {
              height: 24px !important;
              width: 24px !important;
              border-radius: 20px !important;
            }
          }
        }
      }
    }
  }

  &__summary-card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 366px;
    color: #9b9b9b;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
    font-weight: bold;
    height: 118px;
    width: 100%;
    border-radius: 6px;
    border: solid 1px #d8d8d8;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    &__header {
      display: flex;
      justify-content: flex-start;
    }

    &__values {
      display: flex;
      justify-content: space-between;
      &-value {
        display: flex;
        flex-direction: column;

        &__data {
          height: 40px;
          font-size: 32px;
          font-weight: bold;
          color: #4a4a4a;
        }

        &__label {
          font-size: 12px;
          font-weight: 500;
          color: #9b9b9b;
        }
      }
    }
  }
}
