@import '../../../../styles/variables';

.b-device-data-table {
  margin-top: 20px;

  padding: 5px 10px 0px 10px;

  border-radius: 6px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #d8d8d8;
  background-color: #ffffff;

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }

  thead {
    text-transform: capitalize;
    tr {
      font-size: 14px;
      color: #9b9b9b;
      border-bottom: solid 1px #d8d8d8;
      th {
        width: 300px;
      }
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px #f7f4f4;
    }
  }

  tbody + thead {
    display: none;
  }
}
