@import '../../../styles/variables';
@import '../../../styles/mixins';

.f-user-profile__form {
  @include shadow-small;
  background: $white;
  border-radius: $border-radius-normal;
  height: 300px;
  margin-top: 20px;

  &-caption {
    font-family: Exo;
    font-size: 10px;
    color: #9b9b9b;
  }

  &-content {
    height: 150px;
    display: flex;
    &__avatar {
      margin-right: 30px;
      .sb-avatar__image {
        object-fit: cover !important;
      }
    }
    &__container {
      &-item {
        display: flex;
        width: 500px;
        justify-content: space-between;
      }
      &-title {
        font-family: Exo;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
      }
    }
  }

  &-loader {
    margin: 0px 5px 10px;
  }

  &-value {
    width: 209px;
    font-family: Exo;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    color: #9b9b9b;
  }

  &-dropdown-container {
    margin-top: 20px;
  }

  &-dropdown {
    width: 209px;
    height: 50px;
    margin-bottom: 10px;
    i {
      padding-top: 16px !important;
    }
  }

  .f-input__error {
    margin-top: 10px;
  }

  &-email-subscription {
    margin-top: 10px;
    &-text {
      margin-top: 10px;
    }
  }

  &-action-container {
    display: flex;
    justify-content: flex-end;
    &__inner {
      display: flex;
      justify-content: space-between;
      width: 50px;
    }
  }

  &-input {
    padding-right: 160px;

    &-wrapper {
      margin-top: 15px;
      position: relative;
    }

    &-link {
      position: absolute;
      right: 15px;
      top: 14px;
    }
  }
}
