*:not(i) {
  font-family: 'Exo', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  max-width: 1440px !important;
  min-width: 975px !important;
  overflow-y: auto;
  margin: 0 auto;
}
