@import '../../styles/variables';
@import '../../styles/mixins';

.b-login {
    // background-image: url('./loginBackground.jpg');
    // background-size: cover;
    // background-position: center bottom;
    // background-repeat: no-repeat;

    &__copyright {
        position: absolute;
        bottom: 15px;
        left: 140px;
        transform: translate3d(-50%, 0, 0);
    }

    &__title {
        margin-bottom: 30px;
    }
}
