.b-project-details {
    padding: 10px 20px 0;
    height: 80px;
    margin-bottom: 32px;
    h1 {
        font-size: 24px;
        font-weight: 500;
        color: #4a4a4a;
    }

    &__breadcrumbs {
        margin-bottom: 20px;
    }

    &-loader {
        text-align: center;
        margin: 0px 5px 10px;
    }

    &-device-details {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__title {
            font-family: Exo;
            font-size: 12px;
            font-weight: 500;
            color: #4a4a4a;
            text-transform: capitalize;
        }
        &__add-device {
            display: flex;
            &_icon {
                height: 20px;
                width: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .react-tabs__tab {
        margin-top: 30px;
        border: none;
        border-bottom: 3px solid transparent;
        margin-right: 20px;
    }
    .react-tabs__tab--selected {
        border-color: #f68a4d;
    }

    .react-tabs__tab-list {
        border-bottom: 1px solid #f4f4f4;
    }

    &__info {
        display: flex;
        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;

            &-project-image {
                height: 80px;
                width: 80px;
            }

            &-title  {
                font-size: 24px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #4a4a4a;
                margin: 0;
            }

            &-description {
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #9b9b9b;
                margin: 0;
            }
        }
    }
}
